.modal-popup {
    opacity: 0;
    transform: translateY(2em);
    pointer-events: none;
    display: block;

    &.transition {
        transition: opacity 0.6s ease, transform 0.6s ease;
    }

    &.opened {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}